{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Kaushan+Script&family=Nunito&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <section id="banner">
        <a href="{% url 'flow:index' %}"><img src="{% static 'code-removebg-preview.png' %}" alt="..." class="logo"></a>
        <div class="banner-text">
            <h1>{% block page_header %}{% endblock page_header %}</h1>
            <p>{% block page_desc %}{% endblock page_desc %}</p>
            <div class="banner-btn">
                <a href="#main"><span></span>{% block btn %}{% endblock btn %}</a>
            </div>
        </div>
    </section>
    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="{% url 'flow:index' %}">Home</a></li>
                <li><a href="#main">Features</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#footer">Contact</a></li>

            </ul>
        </nav>
    </div>
{% block content %}
{% endblock %}

<section id="footer">

    <div class="title-text">
        <p>CONTACT</p>
        <h1>Get in Touch</h1>
    </div>
    <div class="footer-row">
        <div class="footer-icons">
            <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
</body>
</html>