{% extends 'base.html' %}
{% block page_header %}FlowChart{% endblock page_header %}
    {% block page_desc %}Convert Your Python Files into a flowchart and make it easy to explain your code!{% endblock page_desc %}
    {% block btn %}Get Started {% endblock btn %}
{% block content %}
{% load bootstrap4 %}
{% if error %}
	<div class="alert alert-info" role="alert">
  Pls Upload a Python file! (*.py)
</div>
{% endif %}
<style>
    svg {
        align-items: center;
        text-align: center;
        padding-right: 100px;
    }
    form{
        padding-left: 20px;
    }
</style>
<div class="alert alert-warning" role="alert" style="font-family: 'Nunito' sans-serif; width: 80%;">
  Note : Classes(object oriented Programing) doesn't work on flowcharts!
</div>
	<form method="post" action="{% url 'flow:flow' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
	<button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
</form>
{% if code %}
<div align="center">
    {% autoescape off %}
        {{ code }}
    {% endautoescape %}



</div>
{% endif %}
<script>
    console.log('{{ color }}');
    // Selecting the element
    var svg = document.getElementsByTagName("svg");
    var path = svg[0].getElementsByTagName('path');
    path.setAttribute('fill', '{{ color }}');
    console.log('done');
</script>
{% endblock %}