{% extends 'base.html' %}

    {% block page_header %}StockMarket Data{% endblock page_header %}
    {% block page_desc %}Get detailed data about various stock markets on a long term basis!{% endblock page_desc %}
    {% block btn %}Get Started {% endblock btn %}
{% block content %}
{% load index %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <title>Document</title>
</head>

{% load bootstrap4 %}
<style>
    *{
        font-family: 'Nunito', sans-serif;
    }
    input{
        width: 70%;
    }
</style>

<body>
<section id="main" style="padding-top: 30px; padding-bottom: 50px;">
<form action="{% url 'flow:stock' %}" method="post" style="padding-left: 30px; padding-right: 110px;">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>
    <h1 style="padding-top: 30px; padding-left: 30px;">Stock Price</h1>
    <div id="chart" style="padding: 110px; width: 95%"></div>
    </section>
</body>

<script>
    var options = {
          series: [{
          data: [
          {% for item in open %}
          {
              x: '{{ dates|index:forloop.counter0 }}',
              y: [{{ item }}, {{ high|index:forloop.counter0 }}, {{ low|index:forloop.counter0 }}, {{ close|index:forloop.counter0 }}]
            },
            {% endfor %}

         
           
          ]
        }],
          chart: {
          type: 'candlestick',
          height: 350
        },
        title: {
          text: '{{ ticker }} Stock Price',
          align: 'center'
        },
        xaxis: {
          type: 'string'
        },
        yaxis: {
          tooltip: {
            enabled: true
          }
        }
        };

        var chart = new ApexCharts(document.getElementById("chart"), options);
        chart.render();
</script>
{% endblock %}
</html>