{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

</head>
{% block page_header %}Story Collage{% endblock page_header %}
{% block page_desc %}Convert your story, block of text or an article into a collage of images and make them minteresting to narrate!{% endblock page_desc %}
{% block btn %}Get Started{% endblock btn %}
{% block content %}
<section id="main">
<body>
<style>
img{

    border-radius: 25px;

}
</style>
<div class="alert alert-info" role="alert">
  Try this text: Tim is a tech youtuber. He lives in Canada. He works at Microsoft as an intern. He also got a job offer from Shopify. His primary programming language is Python.
</div>
<form action="{% url 'flow:viz' %}" method="post" style="padding-top: 50px;">
    {% csrf_token %}
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Your Story</label>
    <textarea height="100px" class="form-control" style="width=20%;" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Get viz</button>
</form>
<!-- Gallery -->
<div class="container">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ media_url }}image1.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ media_url }}image2.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ media_url }}image3.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ media_url }}image4.png" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ media_url }}image5.png" alt="">
          </a>
    </div>

</div>
</div>
<!-- Gallery -->
</body>
{% endblock content %}
</html>
</section>